<div class="about-main">
    <div class="about-wrap">
    <div class="about-head">
        <div class="head-text-wrap">
            <div class="image-wrap" [@fadeIn]="state" (@fadeIn.done)="onDone($event)"  [style.backgroundImage]="currentImage">

            </div>
        </div>

        <div class="overlay-img">

               <div class="cont-label">
                We're More Than World’s Media App.
            </div>
            <div class="cont-text">
                People use ARCH to keep up with friends, family, and news using various forms of shared content
                (everything from written updates to live video).
                Brands who maintain a presence on the platform might use organic content for brand awareness, and/or
                relationship nurturing through social customer service. Marketers can also tap ARCH's user data to reach
                new customers with relevant advertising.

            </div>
        </div>

    </div>

    <div class="input-wrap">
    <div class="input-box">
<div class="input-main">
    <h1 class="text-lable">ARCH</h1>
    

</div>
    </div>
</div>

    <div class="about-content">
              <div class="cont-label">
Popular Categories
              </div>
              <div class="cont-text-main">
            <div class="cont-text-wrap">
                <div>
                <mat-icon class="cust-icon mar-r-12"> call</mat-icon>
                <mat-icon class="cust-icon"> video_call</mat-icon>
            </div>
                <div class="cust-content">Audio and Video call with friends and family</div>
            </div>
            <div class="cont-text-wrap">
                <mat-icon class="cust-icon"> people</mat-icon>
                <div class="cust-content">Connecting with people using blogs, stories</div>
            </div>
            <div class="cont-text-wrap">
                <mat-icon class="cust-icon"> cloud_upload</mat-icon>
                <div class="cust-content">Cloud for media content (conditions applied)</div>
            </div>
            <div class="cont-text-wrap">
                <mat-icon class="cust-icon"> format_color_fill</mat-icon>
                <div class="cust-content">Inbuilt Video and Image editor with optimum performance</div>
            </div>
               
                
              </div>
    </div>
</div>
</div>
